# general madules
Django >3.2,<3.3
python-decouple
Pillow
djangorestframework

# third party madules
markdown
django-filter
drf-yasg[validation]
djangorestframework-simplejwt
django-cors-headers

# deployment madules

# email third party madules
django-mail-templated

# refactoring and tests
black
flake8
pytest
pytest-django
Faker

# background process and cache
celery
django_celery_beat
redis

